.book {
  width: 138px;
  height: auto;
  padding: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}

.book-ratings {
  margin-bottom: 10px;
}

.book-cover {
  filter: grayscale(100%);
  box-shadow:0;
  transition: 0.4s ease-in-out;
}

.book:hover .book-cover {
  filter: grayscale(0);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

.book:hover .book-title {
  color: #00b0af;
}

.book:hover .book-authors {
  color: rgba(0, 176, 175, 0.65);
}

.book-title {
  color: #848484;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  transition: 0.4s ease-in-out;
}

.book-authors {
  margin: 5px 0 0 0;
  color: rgba(132, 132, 132, 0.65);
  font-size: 14px;
  transition: 0.4s ease-in-out;
}

.select-book-shelf select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-indent: 0.1;
  text-overflow: '';
  padding: 5px;
  background-color: #85dEdd;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  transition: 0.4s ease-in-out;
}

.select-book-shelf select:hover {
  background-color: #00b0af;
}

.select-book-shelf select option:checked,
.select-book-shelf select option:hover {
  box-shadow: 0 0 10px 100px #019696 inset;
}

.select-book-shelf select:focus > option:checked { 
  background: #019696 !important;
}
